<ion-card *ngFor="let agendaEvent of events" (click)="showDetails(agendaEvent)">
  <ion-item>
    <h2 text-wrap>{{ agendaEvent.title }}</h2>
    <!--<p>{{ agendaEvent.start_timestamp | date : 'mediumDate' }} {{ agendaEvent.start_timestamp | date : 'shortTime' }}</p>-->
  </ion-item>
  <ion-card-content>
    <p class="limited-description" [innerHTML]="agendaEvent.description | markdown"></p>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <button ion-button right clear small (click)="$event.stopPropagation(); showDetails(agendaEvent)">
        <p>{{ 'details' | translate }}</p>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
