<ion-card>
  <ion-item text-wrap>
    <h1>{{ agendaEvent.title }}</h1>
    <!--<p>{{ 'starts_at_x' | translate : { timestamp: agendaEvent.start_date } }}</p>-->
    <!--<p *ngIf="agendaEvent.end_timestamp">{{ 'ends_at_x' | translate : { timestamp: agendaEvent.end_date } }}</p>-->
  </ion-item>
  <ion-card-content>
    <h2>{{ 'description' | translate }} </h2>
    <div [innerHTML]="agendaEvent.description | markdown"></div>
    <h2>{{ 'location' | translate }} </h2>
    <div [innerHTML]="agendaEvent.location | markdown"></div>
    <api-request-status [status]="status" size="16px"></api-request-status>
    <p *ngIf="isPresent() && !status.loading">
      <ion-icon name="checkmark" color="secondary"></ion-icon>
      {{ (agendaEvent.is_in_past ? 'you_went_to_this_event' : 'you_are_going_to_this') | translate }}
    </p>
    <p *ngIf="isAbsent() && !status.loading">
      <ion-icon name="close" color="danger"></ion-icon>
      {{ (agendaEvent.is_in_past ? 'you_did_not_go_to_this_event' : 'you_arent_going_to_event') | translate }}
    </p>
  </ion-card-content>
  <ion-row *ngIf="!agendaEvent.is_in_past">
    <ion-col>
      <button ion-button icon-left clear (click)="update(statuses.PRESENT)"
              [disabled]="isPresent() && !status.loading">
        <ion-icon name="checkmark"></ion-icon>
        <div>{{ 'going' | translate }}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear (click)="update(statuses.ABSENT)"
              [disabled]="isAbsent() && !status.loading">
        <ion-icon name="close"></ion-icon>
        <div>{{ 'not_going' | translate }}</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
