<mat-table matSort [dataSource]="dataSource" (matSortChange)="onSortNodes($event)">
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'tff.name' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.profile ? (row.profile.full_name || row.profile.username) : '' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'tff.status' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-layout-row flex-layout-align-start-center">
      <mat-icon [color]="getNodeStatusColor(row.node.status)">{{ getNodeStatusIcon(row.node.status) }}</mat-icon>
      <p>{{ ('tff.node_status_' + row.node.status) | translate }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="serial_number">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'tff.serial_number' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <p>{{ row.node.serial_number }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="node_id">
    <mat-header-cell *matHeaderCellDef>
      {{ 'tff.node_id' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <p>{{ row.node.id }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="chain_status.block_height">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'tff.block_height' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-layout-row flex-layout-align-start-center">
      <ng-container *ngIf="row.node.chain_status">
        <mat-icon [color]="getWalletStatusColor(row.node.chain_status)"
                  [matTooltip]="getWalletStatusTooltip(row.node.chain_status) | translate">
          {{ getWalletStatusIcon(row.node.chain_status) }}
        </mat-icon>
        <p>{{ row.node.chain_status.block_height }}</p>
      </ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="chain_status.active_blockstakes">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'tff.active_blockstakes' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-layout-row flex-layout-align-start-center">
      <p *ngIf="row.node.chain_status">{{ row.node.chain_status.active_blockstakes }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="chain_status.connected_peers">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'tff.connected_peers' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-layout-row flex-layout-align-start-center">
      <p *ngIf="row.node.chain_status">{{ row.node.chain_status.connected_peers }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="chain_status.network">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'tff.network' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-layout-row flex-layout-align-start-center">
      <p *ngIf="row.node.chain_status">{{ row.node.chain_status.network }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="chain_status.confirmed_balance">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'tff.confirmed_balance' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-layout-row flex-layout-align-start-center">
      <p *ngIf="row.node.chain_status">{{ row.node.chain_status.confirmed_balance }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <mat-select [ngModel]="displayedColumns" multiple (ngModelChange)="columnsChanged($event)">
          <mat-option *ngFor="let col of possibleColumns" [value]="col.value">{{ col.label | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="flex-layout-row flex-layout-align-end-center">
      <a mat-icon-button [routerLink]="['/users', row.profile.username]" target="_blank" *ngIf="row.profile"
         [matTooltip]="'tff.profile' | translate ">
        <mat-icon>person</mat-icon>
      </a>
      <a mat-icon-button [href]="getStatisticsUrl(row.node)" target="_blank"
         [matTooltip]="'tff.statistics' | translate">
        <mat-icon>timeline</mat-icon>
      </a>
      <a mat-icon-button [routerLink]="row.node.id" [matTooltip]="'tff.edit' | translate">
        <mat-icon>edit</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div class="email-list" *ngIf="selection.selected.length">
  <h3>{{ 'tff.list_of_emails' | translate }}</h3>
  <pre style="width: 100%; overflow: scroll;" #csv (click)="copyText(csv)">{{ getSelectionCsv() }}</pre>
  <button mat-raised-button (click)="generateCsv(selection.selected)">{{ 'tff.generate_csv' | translate }}</button>
</div>
<tff-api-request-status [status]="status"></tff-api-request-status>
