<form #form="ngForm" (ngSubmit)="submit()" fxLayout="column" fxFlex="40" fxFlex.md="60" fxFlex.xs="100"
      class="default-component-padding">
  <tff-user-field [(ngModel)]="agreement.username" name="username"></tff-user-field>
  <mat-form-field>
    <mat-label>{{ 'tff.token' | translate }}</mat-label>
    <mat-select name="token" [(ngModel)]="agreement.token" required (ngModelChange)="getCurrencies()">
      <mat-option *ngFor="let tokenType of tokenTypes$ | async" [value]="tokenType">
        {{ tokenType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.currency' | translate }}</mat-label>
    <mat-select name="currency" [(ngModel)]="agreement.currency" required [disabled]="!agreement.token">
      <mat-option *ngFor="let currency of currencies$ | async" [value]="currency">
        {{ currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.amount' | translate }}</mat-label>
    <input type="number" name="token_count" min="1" [(ngModel)]="agreement.amount" matInput required>
    <span matSuffix>{{ agreement.currency }}</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.status' | translate }}</mat-label>
    <mat-select name="status" [(ngModel)]="agreement.status">
      <mat-option *ngFor="let status of statuses" [value]="status.value">
        {{ status.label | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.sign_time' | translate }}</mat-label>
    <input matInput
           required
           name="sign_time"
           [matDatepicker]="pickerSign"
           [max]="maxDate"
           [value]="getDate(agreement.sign_time)"
           (dateChange)="onDateChange('sign_time', $event)">
    <mat-datepicker-toggle matSuffix [for]="pickerSign"></mat-datepicker-toggle>
    <mat-datepicker #pickerSign></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.paid_time' | translate }}</mat-label>
    <input matInput
           required
           name="paid_time"
           [matDatepicker]="pickerPaid"
           [max]="maxDate"
           [value]="getDate(agreement.paid_time)"
           [disabled]="!isPaid()"
           (dateChange)="onDateChange('paid_time', $event)">
    <mat-datepicker-toggle matSuffix [for]="pickerPaid"></mat-datepicker-toggle>
    <mat-datepicker #pickerPaid></mat-datepicker>
  </mat-form-field>
  <div class="default-component-padding">
    <button type="button" mat-raised-button (click)="fileInput.click()">{{ 'tff.select_document' | translate }}</button>
    <input hidden type="file" accept="application/pdf,image/*" #fileInput (change)="setDocument($event)" required/>
    <span *ngIf="selectedDocument"> {{ 'tff.selected_document' | translate : {document: selectedDocument.name} }}</span>
  </div>
  <tff-api-request-status [status]="createStatus$ | async"></tff-api-request-status>
  <div>
    <button mat-raised-button [disabled]="!form.form.valid || !agreement.document" color="primary">
      {{ 'tff.create_investment_agreement' | translate }}
    </button>
  </div>
</form>
