<div class="investment-agreement-content">
  <button md-button [routerLink]="['..']">
    <md-icon>arrow_back</md-icon>
    {{ 'tff.back' | translate }}
  </button>
  <div *ngIf="investmentAgreement">
    <h2>{{ 'tff.investment_agreement_x' | translate : { investmentAgreementId: investmentAgreement.id } }}</h2>
    <p>{{ 'tff.x_tokens' | translate : { count: investmentAgreement.token_count } }}</p>
    <p>{{ 'tff.currency' | translate }}: {{ investmentAgreement.currency }}</p>
    <p>{{ 'tff.amount_in_dollar' | translate }}: {{ investmentAgreement.amount | currency : 'USD' }}</p>
    <p>{{ 'tff.status' | translate}}: {{ getStatus() }}</p>
    <p>{{ 'tff.user' | translate}}: {{ investmentAgreement.app_user }}</p>
    <p *ngIf="investmentAgreement.name">{{ 'tff.name' | translate}}: {{ investmentAgreement.name }}</p>
    <p *ngIf="investmentAgreement.address">{{ 'tff.address' | translate}}: {{ investmentAgreement.address }}</p>
    <p *ngIf="investmentAgreement.paid_time">
      {{ 'tff.paid_time' | translate }}: {{ investmentAgreement.paid_time | timestamp }}
    </p>
    <iyo-see [id]="investmentAgreement.iyo_see_id"></iyo-see>
    <p>{{ 'tff.created' | translate }}: {{ investmentAgreement.creation_time | timestamp }}</p>
    <p>{{ 'tff.modification_time' | translate }}: {{ investmentAgreement.modification_time | timestamp }}</p>
    <p *ngIf="investmentAgreement.status === statuses.CANCELED">
      {{ 'tff.cancel_time' | translate }}: {{ investmentAgreement.cancel_time | timestamp }}</p>
    <button *ngIf="canMarkAsPaid" md-button (click)="markAsPaid()">{{ 'tff.mark_as_paid' | translate }}</button>
  </div>
</div>
