<div class="investment-agreement-content">
  <button mat-button [routerLink]="['..']">
    <mat-icon>arrow_back</mat-icon>
    {{ 'tff.back' | translate }}
  </button>
  <div *ngIf="investmentAgreement">
    <h2>{{ 'tff.investment_agreement_x' | translate : { id: investmentAgreement.id, ref: investmentAgreement.reference }
      }}</h2>
    <tff-investment-agreement-amount [amount]="investmentAgreement.amount" [currency]="investmentAgreement.currency"
                                     [tokenCount]="investmentAgreement.token_count_float"></tff-investment-agreement-amount>
    <p>{{ 'tff.status' | translate}}: {{ getStatus() }}</p>
    <p>{{ 'tff.user' | translate}}: {{ investmentAgreement.app_user }}</p>
    <p *ngIf="investmentAgreement.name">{{ 'tff.name' | translate}}: {{ investmentAgreement.name }}</p>
    <p *ngIf="investmentAgreement.address">{{ 'tff.address' | translate}}: {{ investmentAgreement.address }}</p>
    <p *ngIf="investmentAgreement.paid_time">
      {{ 'tff.paid_time' | translate }}: {{ investmentAgreement.paid_time | timestamp }}
    </p>
    <tff-document-url [url]="investmentAgreement.document_url"></tff-document-url>
    <p>{{ 'tff.created' | translate }}: {{ investmentAgreement.creation_time | timestamp }}</p>
    <p>{{ 'tff.modification_time' | translate }}: {{ investmentAgreement.modification_time | timestamp }}</p>
    <p *ngIf="investmentAgreement.status === statuses.CANCELED">
      {{ 'tff.cancel_time' | translate }}: {{ investmentAgreement.cancel_time | timestamp }}</p>
    <form #form="ngForm">
      <div *ngIf="investmentAgreement.currency === 'BTC' && canMarkAsPaid">
        <mat-form-field>
          <input matInput type="number" name="btc_price" [placeholder]="'tff.btc_price' | translate" required
                 [(ngModel)]="btcPrice">
        </mat-form-field>
        <p>{{'tff.btc_price_on_payment_receive' | translate }}</p>
        <p>{{ 'tff.x_tokens_will_be_assigned' | translate : {tokens: getTokenCount() } }}</p>
      </div>
      <button type="button" color="warn" *ngIf="canCancelInvestment" mat-button (click)="cancelInvestment()">
        {{ 'tff.cancel_investment' | translate }}
      </button>
      <button type="button" mat-button (click)="markAsPaid()" [disabled]="!form.form.valid" *ngIf="canMarkAsPaid">
        {{ 'tff.mark_as_paid' | translate }}
      </button>
    </form>
  </div>
  <tff-api-request-status [status]="status"></tff-api-request-status>
  <tff-api-request-status [status]="updateStatus"></tff-api-request-status>
</div>
