<mat-nav-list *ngIf="investmentAgreements">
  <a *ngFor="let agreement of investmentAgreements.results" [routerLink]="['/investment-agreements', agreement.id]"
     [target]="linkTarget" mat-list-item>
    <h4 matLine>
      {{ 'tff.investment_agreement_x' | translate : { id: agreement.id, ref: agreement.reference } }}
      - {{ getStatus(agreement) | translate }}</h4>
    <p matLine *ngIf="agreement.name">{{ agreement.name }}</p>
    <tff-investment-agreement-amount matLine [amount]="agreement.amount"
                                     [currency]="agreement.currency"
                                     [tokenCount]="agreement.token_count_float"></tff-investment-agreement-amount>
    <p matLine>{{ agreement.creation_time | timestamp }}</p>
  </a>
  <button mat-button *ngIf="investmentAgreements.more" (click)="loadMore.emit()">
    {{ 'tff.load_more' | translate }}
  </button>
</mat-nav-list>
<tff-api-request-status [status]="status"></tff-api-request-status>
