<form #form="ngForm" (ngSubmit)="submit()" fxLayout="column" fxFlex="40" fxFlex.md="60" fxFlex.xs="100">
  <mat-form-field>
    <mat-label>{{ 'tff.amount_of_tokens' | translate }}</mat-label>
    <input type="number" name="token_count" min="0" [(ngModel)]="transaction.token_count" matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.token_type' | translate }}</mat-label>
    <mat-select name="token_type" [(ngModel)]="transaction.token_type" required>
      <mat-option *ngFor="let tokenType of tokenTypes" [value]="tokenType">
        {{ tokenType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.memo' | translate }}</mat-label>
    <textarea name="memo" rows="2" matInput [(ngModel)]="transaction.memo"></textarea>
  </mat-form-field>
  <div>
    <button mat-raised-button [disabled]="!form.form.valid" color="primary">
      {{ 'tff.create_transaction' | translate }}
    </button>
  </div>
  <tff-api-request-status [status]="createStatus"></tff-api-request-status>
</form>
