<form #form="ngForm" (submit)="submit()" fxLayout="column" fxFlex="40" fxFlex.md="60" fxFlex.xs="100">
  <mat-form-field>
    <input type="number" name="token_count" min="0" [(ngModel)]="transaction.token_count" matInput
           [placeholder]="'tff.amount_of_tokens' | translate" required>
  </mat-form-field>
  <mat-select name="token_type" [(ngModel)]="transaction.token_type" required style="max-width: 200px;"
             [placeholder]="'tff.token_type' | translate">
    <mat-option *ngFor="let tokenType of tokenTypes" [value]="tokenType">
      {{ tokenType}}
    </mat-option>
  </mat-select>
  <mat-form-field>
    <textarea name="memo" rows="2" matInput [(ngModel)]="transaction.memo"
              [placeholder]="'tff.memo' | translate"></textarea>
  </mat-form-field>
  <div>
    <button mat-raised-button [disabled]="!form.form.valid" color="primary">
      {{ 'tff.create_transaction' | translate }}
    </button>
  </div>
  <tff-api-request-status [status]="createStatus"></tff-api-request-status>
</form>
