<mat-list *ngIf="transactionList.results.length">
  <mat-list-item *ngFor="let transaction of transactionList.results">
    <h2 matLine>{{ 'tff.transaction_status_' + transaction.synced_status | translate }} {{ transaction.id }}</h2>
    <h3 matLine>{{ (getAmount(transaction) ) }} {{ transaction.token }}</h3>
    <p matLine *ngIf="transaction.memo">{{ transaction.memo }}</p>
  </mat-list-item>
</mat-list>
<p *ngIf="status.success && transactionList.results.length === 0" style="margin-left: 16px;">
  <i>{{ 'tff.no_transactions_yet' | translate }}</i>
</p>
<tff-api-request-status [status]="status"></tff-api-request-status>
