<form (ngSubmit)="submit(form)" #form="ngForm" fxLayout="column" fxFlex="40" fxFlex.md="60" fxFlex.xs="100"
      class="default-component-padding">
  <tff-user-field [(ngModel)]="order.username" name="username"></tff-user-field>
  <mat-form-field>
    <mat-label>{{ 'tff.odoo_sale_order_id' | translate }}</mat-label>
    <input type="number" name="odoo_sale_order_id" matInput [(ngModel)]="order.odoo_sale_order_id" required>
  </mat-form-field>

  <h3>{{ 'tff.billing_info' | translate }}</h3>
  <mat-form-field>
    <mat-label>{{ 'tff.name' | translate }}</mat-label>
    <input name="billing_name" matInput [(ngModel)]="order.billing_info.name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.email' | translate }}</mat-label>
    <input type="email" name="billing_email" matInput [(ngModel)]="order.billing_info.email" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.phone' | translate }}</mat-label>
    <input type="tel" name="billing_phone" matInput [(ngModel)]="order.billing_info.phone" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.address' | translate }}</mat-label>
    <textarea name="billing_address" matInput [(ngModel)]="order.billing_info.address"
              matTextareaAutosize required></textarea>
  </mat-form-field>
  <h3>{{ 'tff.shipping_information' | translate }}</h3>
  <mat-form-field>
    <mat-label>{{ 'tff.name' | translate }}</mat-label>
    <input name="shipping_name" matInput [(ngModel)]="order.shipping_info.name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.email' | translate }}</mat-label>
    <input type="email" name="shipping_email" matInput [(ngModel)]="order.shipping_info.email" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.phone' | translate }}</mat-label>
    <input type="tel" name="shipping_phone" matInput [(ngModel)]="order.shipping_info.phone" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.address' | translate }}</mat-label>
    <textarea name="shipping_address" matInput [(ngModel)]="order.shipping_info.address"
              matTextareaAutosize required></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.status' | translate }}</mat-label>
    <mat-select name="status" [(ngModel)]="order.status">
      <mat-option *ngFor="let status of statuses" [value]="status.value">
        {{ status.label | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'tff.order_time' | translate }}</mat-label>
    <input matInput
           required
           name="order_time"
           [matDatepicker]="pickerorderTime"
           [max]="maxDate"
           [(ngModel)]="order.order_time">
    <mat-datepicker-toggle matSuffix [for]="pickerorderTime"></mat-datepicker-toggle>
    <mat-datepicker #pickerorderTime></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="shouldShowSignTime()">
    <mat-label>{{ 'tff.sign_time' | translate }}</mat-label>
    <input matInput
           required
           name="sign_time"
           [matDatepicker]="pickerSignTime"
           [min]="order.order_time"
           [max]="maxDate"
           [(ngModel)]="order.sign_time">
    <mat-datepicker-toggle matSuffix [for]="pickerSignTime"></mat-datepicker-toggle>
    <mat-datepicker #pickerSignTime></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="shouldShowSentTime()">
    <mat-label>{{ 'tff.send_time' | translate }}</mat-label>
    <input matInput
           required
           name="send_time"
           [matDatepicker]="pickersendTime"
           [min]="order.sign_time"
           [max]="maxDate"
           [(ngModel)]="order.send_time">
    <mat-datepicker-toggle matSuffix [for]="pickersendTime"></mat-datepicker-toggle>
    <mat-datepicker #pickersendTime></mat-datepicker>
  </mat-form-field>
  <div class="default-component-padding">
    <button type="button" mat-raised-button (click)="fileInput.click()">{{ 'tff.select_document' | translate }}</button>
    <input hidden type="file" accept="application/pdf,image/*" #fileInput (change)="setDocument($event)" required/>
    <span
      *ngIf="selectedDocument"> {{ 'tff.selected_document' | translate : { document: selectedDocument.name } }}</span>
  </div>
  <div>
    <tff-api-request-status [status]="createStatus$ | async"></tff-api-request-status>
    <button mat-raised-button [disabled]="!form.form.valid || !selectedDocument || (createStatus$ | async)?.loading">
      {{ 'tff.submit' | translate }}
    </button>
  </div>
</form>
