<api-request-status [status]="status"></api-request-status>
<div *ngFor="let node of nodes">
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <ion-icon [name]="getIcon(node)" [color]="getIconColor(node)" style="font-size: 40px;"></ion-icon>
      </ion-avatar>
      <h2>{{ node.serial_number}}</h2>
      <p>{{ getStatusText(node) }}</p>
    </ion-item>
  </ion-card>
  <ion-card *ngFor="let chart of charts[node.id]">
    <ion-card-header>{{ chart.data.datasets[0].label }}</ion-card-header>
    <ion-card-content>
      <chart type="line" [data]="chart.data" [options]="chart.options"></chart>
    </ion-card-content>
  </ion-card>
</div>
