<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <ion-icon [name]="getIcon()" [color]="getIconColor()" style="font-size: 40px;"></ion-icon>
    </ion-avatar>
    <h2>{{ ('node_' + nodeStatus.status ) | translate }}</h2>
    <p *ngIf="nodeStatus.bootTime">{{ getUptime() }}</p>
  </ion-item>
</ion-card>
<api-request-status [status]="status"></api-request-status>
<ion-card *ngFor="let chart of charts">
  <ion-card-header>{{ chart.data.datasets[0].label }}</ion-card-header>
  <ion-card-content>
    <chart type="line" [data]="chart.data" [options]="chart.options"></chart>
  </ion-card-content>
</ion-card>
