<mat-nav-list *ngIf="orders">
  <a mat-list-item *ngFor="let order of orders.results" [routerLink]="['/node-orders', order.id]" [target]="linkTarget">
    <h4 matLine>{{ 'tff.node_order_x' | translate : { orderId: order.id } }}</h4>
    <p matLine>{{ order.billing_info.name }}</p>
    <p matLine>{{ order.order_time | timestamp }}</p>
  </a>
  <button mat-button *ngIf="orders.more" (click)="loadMore.emit()">
    {{ 'tff.load_more' | translate }}
  </button>
</mat-nav-list>
<tff-api-request-status [status]="status"></tff-api-request-status>
