<div class="order-content">
  <button md-button [routerLink]="['..']">
    <md-icon>arrow_back</md-icon>
    {{ 'tff.back' | translate }}
  </button>
  <div *ngIf="nodeOrder">
    <h2>{{ 'tff.node_order_x' | translate : {orderId: nodeOrder.id} }}</h2>
    <p *ngIf="nodeOrder.odoo_sale_order_id">
      {{ 'tff.so_number' | translate : { number : nodeOrder.odoo_sale_order_id } }}
    </p>
    <p *ngIf="nodeOrder.socket">{{ 'tff.socket' | translate : { socket : nodeOrder.socket } }}</p>
    <p>{{ 'tff.name' | translate}}: {{ nodeOrder.billing_info.name }}</p>
    <p>{{ 'tff.email' | translate}}: {{ nodeOrder.billing_info.email }}</p>
    <p>{{ 'tff.phone' | translate}}: {{ nodeOrder.billing_info.phone }}</p>
    <p>{{ 'tff.billing_address' | translate}}: {{ nodeOrder.billing_info.address }}</p>
    <p>{{ 'tff.status' | translate}}: {{ getOrderStatus() }}</p>
    <iyo-see [document]="nodeOrder.see_document"></iyo-see>
    <md-divider></md-divider>
    <h3>{{ 'tff.shipping_information' | translate }}</h3>
    <div *ngIf="nodeOrder.shipping_info">
      <p>{{ 'tff.name' | translate}}: {{ nodeOrder.shipping_info.name }}</p>
      <p>{{ 'tff.email' | translate}}: {{ nodeOrder.shipping_info.email }}</p>
      <p>{{ 'tff.phone' | translate}}: {{ nodeOrder.shipping_info.phone }}</p>
      <p>{{ 'tff.shipping_address' | translate}}: {{ nodeOrder.shipping_info.address}}</p>
    </div>
    <md-divider></md-divider>
    <p>{{ 'tff.modification_time' | translate }}: {{ nodeOrder.modification_time | timestamp }}</p>
    <p>{{ 'tff.order_time' | translate }}: {{ nodeOrder.order_time | timestamp }}</p>
    <p *ngIf="nodeOrder.send_time">
      {{ 'tff.send_time' | translate }}: {{ nodeOrder.send_time | timestamp }}
    </p>
    <p *ngIf="nodeOrder.arrival_time">
      {{ 'tff.arrival_time' | translate }}: {{ nodeOrder.arrival_time | timestamp }}
    </p>
    <p *ngIf="nodeOrder.cancel_time">
      {{ 'tff.cancel_time' | translate }}: {{ nodeOrder.cancel_time | timestamp }}</p>
    <div *ngIf="nodeOrder.arrival_qr_code_url">
      <img [src]="nodeOrder.arrival_qr_code_url" style="max-width: 400px;"/>
    </div>
    <button *ngIf="allowedStatuses.includes(statuses.CANCELED)" md-button (click)="setOrderStatus(statuses.CANCELED)"
            color="warn">
      {{ 'tff.cancel_order' | translate }}
    </button>
    <button *ngIf="allowedStatuses.includes(statuses.SENT)" md-button (click)="setOrderStatus(statuses.SENT)">
      {{ 'tff.mark_as_sent' | translate }}
    </button>
    <button *ngIf="allowedStatuses.includes(statuses.PAID)" md-button (click)="setOrderStatus(statuses.PAID)">
      {{ 'tff.mark_as_paid' | translate }}
    </button>
    <button *ngIf="allowedStatuses.includes(statuses.APPROVED)" md-button (click)="setOrderStatus(statuses.APPROVED)">
      {{ 'tff.approve_order' | translate }}
    </button>
  </div>
  <tff-api-request-status [status]="status"></tff-api-request-status>
  <tff-api-request-status [status]="updateStatus"></tff-api-request-status>
</div>
