<p>{{ 'tff.referral_code_x' | translate : { code: tffProfile.referral_code } }}</p>
<a [routerLink]="['/users', tffProfile.referrer_username]" target="_blank" *ngIf="tffProfile.referrer_username">
  {{ 'tff.referred_by_x' | translate : { user: tffProfile.referrer_username } }}
</a>
<div *ngIf="tffProfile.nodes.length">
  <h4>{{ 'tff.nodes' | translate }}</h4>
  <mat-list>
    <mat-list-item *ngFor="let node of tffProfile.nodes">
      <h3 matLine>{{ node.serial_number }}</h3>
      <p matLine>{{ ('tff.node_status_' + node.status) | translate }}</p>
      <p matLine>{{ node.id }}</p>
    </mat-list-item>
  </mat-list>
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ 'tff.details' | translate }}</mat-panel-title>
    </mat-expansion-panel-header>
    <pre>{{ profile | json }}</pre>
  </mat-expansion-panel>
</mat-accordion>
