<mat-form-field style="min-width: 400px;">
  <mat-label>{{ 'tff.user' | translate }}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip *ngIf="selectedUser" (removed)="selectedUser = null">
      <img matChipAvatar [src]="selectedUser.info.avatar_url"/>
      {{ getUserInfoLine(selectedUser) }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input [formControl]="userSearchControl"
           [matAutocomplete]="userAutoComplete"
           [matChipInputFor]="chipList" #userSearchInput>
  </mat-chip-list>
  <mat-autocomplete #userAutoComplete="matAutocomplete" (optionSelected)="setSelectedUser($event)">
    <mat-option *ngFor="let user of userList$ | async" [value]="user">
      <span>{{ getUserInfoLine(user) }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
