<form (ngSubmit)="submit()">
  <mat-form-field>
    <input type="search" name="search_users" [(ngModel)]="query.query" matInput
           [placeholder]="'tff.search' | translate" (ngModelChange)="submit()">
  </mat-form-field>
</form>
<mat-nav-list>
  <a *ngFor="let user of userList.results" [routerLink]="[user.username, 'transactions']" mat-list-item>
    <h4 matLine>{{ getUserName(user) }}</h4>
    <p matLine *ngIf="getUserName(user) != user.username">
      {{ user.username }}
    </p>
    <p matLine *ngIf="user.info?.validatedemailaddresses.length">
      {{ user.info.validatedemailaddresses[0].emailaddress }}
    </p>
  </a>
  <button mat-button *ngIf="userList.more" (click)="loadMore()">
    {{ 'tff.load_more' | translate }}
  </button>
</mat-nav-list>
