<mat-nav-list>
  <a *ngFor="let user of userList.results" [routerLink]="[user.username]" mat-list-item>
    <h4 matLine>{{ user | profileName }}</h4>
    <p matLine *ngIf="(user | profileName) != user.username">
      {{ user.username }}
    </p>
    <p matLine *ngIf="user.info?.validatedemailaddresses.length">
      {{ user.info?.validatedemailaddresses[0].emailaddress }}
    </p>
  </a>
  <button mat-button *ngIf="userList.more" (click)="loadMore.emit()">
    {{ 'tff.load_more' | translate }}
  </button>
</mat-nav-list>
