<p>{{ 'tff.referral_code_x' | translate : { code: tffProfile.referral_code } }}</p>
<a [routerLink]="['/users', tffProfile.referrer_username]" target="_blank" *ngIf="tffProfile.referrer_username">
  {{ 'tff.referred_by_x' | translate : { user: tffProfile.referrer_username } }}
</a>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ 'tff.details' | translate }}</mat-panel-title>
    </mat-expansion-panel-header>
    <pre>{{ profile | json }}</pre>
  </mat-expansion-panel>
</mat-accordion>
