<form (ngSubmit)="submit()" fxLayout="row" fxLayout.sm="column">
  <mat-form-field fxFlex="30%" fxFlex.lg="20%" fxFlex.sm="100%">
    <mat-label>{{ 'tff.kyc_status' | translate }}</mat-label>
    <mat-select name="kyc_status" [(ngModel)]="_query.kyc_status" (ngModelChange)="submit()">
      <mat-option [value]="null">{{ 'tff.all' | translate }}</mat-option>
      <mat-option *ngFor="let status of statuses" [value]="status.value">
        {{ status.label | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="30%" fxFlex.lg="20%" fxFlex.sm="100%" fxFlexOffset="5%" fxFlexOffset.sm="0">
    <mat-label>{{ 'tff.search' | translate }}</mat-label>
    <input type="search" name="search_users" [(ngModel)]="searchString" matInput (ngModelChange)="submit()">
  </mat-form-field>
</form>
