<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button="bar-button" (click)="close()" class="back-button show-back-button back-button-md">
        <ion-icon name="arrow-back" class="back-button-icon-md"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'global_stats' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <api-request-status [status]="status$ | async"></api-request-status>
  <global-stats [globalStats]="globalStats$ | async"></global-stats>
</ion-content>
