<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button="bar-button" (click)="close()" class="back-button show-back-button back-button-md">
          <ion-icon name="arrow-back" class="back-button-icon-md"></ion-icon>
        </button>
      </ion-buttons>
        <ion-title>{{ 'public_exchanges' | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <p>{{ 'listed_on_following_exchanges' | translate }}:</p>
    <ion-list>
      <a ion-item *ngFor="let exchange of exchanges$ | async" [href]="exchange.url" target="_blank">
        <ion-avatar item-start>
          <img [src]="exchange.iconPath">
        </ion-avatar>
        {{ exchange.title }}
        <a ion-button item-end [href]="exchange.docsUrl" target="_blank">
          <ion-icon name="open"></ion-icon>&nbsp;&nbsp;Details
        </a>
      </a>
    </ion-list>
</ion-content>
