<div class="default-component-padding">
  <button mat-button [routerLink]="['..']">
    <mat-icon>arrow_back</mat-icon>
    {{ 'tff.back' | translate }}
  </button>
  <tff-api-request-status [status]="status"></tff-api-request-status>
  <div *ngIf="status.success" style="padding-top: 16px;">
    <form fxLayout="column" (ngSubmit)="submit(form)" #form="ngForm">
      <mat-form-field>
        <mat-label>{{ 'tff.name' | translate }}</mat-label>
        <input matInput [(ngModel)]="globalStats.name" name="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'tff.total_tokens' | translate }}</mat-label>
        <input matInput [(ngModel)]="globalStats.token_count" name="token_count" type="number" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'tff.unlocked_tokens' | translate }}</mat-label>
        <input matInput [(ngModel)]="globalStats.unlocked_count" name="unlocked_tokens" type="number" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'tff.value_in_dollars' | translate }}</mat-label>
        <input matInput [(ngModel)]="globalStats.value" name="value" type="number" required>
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      <div *ngFor="let currency of globalStats.currencies">
        <mat-form-field class="xs-input">
          <mat-label>{{ 'tff.symbol' | translate }}</mat-label>
          <input matInput [(ngModel)]="currency.currency" [ngModelOptions]="{ standalone: true }">
        </mat-form-field>
        <mat-form-field class="s-input" style="margin-left: 16px;">
          <mat-label>{{ 'tff.value' | translate }}</mat-label>
          <input matInput [(ngModel)]="currency.value" [ngModelOptions]="{ standalone: true }" type="number">
        </mat-form-field>
        <button type="button" mat-icon-button (click)="removeCurrency(currency)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-slide-toggle [(ngModel)]="currency.auto_update" [ngModelOptions]="{ standalone: true }">
          {{ 'tff.auto_update' | translate }}
        </mat-slide-toggle>
      </div>
      <div *ngIf="globalStats.currencies.length">
        <p>{{ 'tff.auto_update_explanation' | translate }}</p>
      </div>
      <div>
        <mat-form-field>
          <mat-label>{{ 'tff.currency' | translate }}</mat-label>
          <input matInput [(ngModel)]="newCurrency" name="new_currency">
        </mat-form-field>
        <button type="button" mat-button (click)="addCurrency()">{{ 'tff.add_currency' | translate }}</button>
      </div>
      <tff-api-request-status [status]="updateStatus"></tff-api-request-status>
      <div>
        <button color="primary" mat-raised-button [disabled]="!form.form.valid || updateStatus.loading">
          {{ 'tff.save' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
