<tff-api-request-status [status]="status"></tff-api-request-status>
<div *ngIf="profile" fxLayout="column">
  <p>{{ getStatus(profile.kyc.status) }}</p>
  <tff-api-request-status [status]="updateStatus"></tff-api-request-status>
  <form *ngIf="allowedStatuses.includes(kyc.INFO_SET)" fxLayout="column" #form="ngForm">
    <p><i>In the future you will be able to change information here</i></p>
  </form>
  <div class="kyc-buttons">
    <button mat-raised-button *ngIf="allowedStatuses.includes(kyc.PENDING_SUBMIT)"
            (click)="submit(kyc.PENDING_SUBMIT)"
            [disabled]="updateStatus.loading">
      <mat-icon>replay</mat-icon>
      {{ 'tff.resend_flow' | translate }}
    </button>
    <button mat-raised-button *ngIf="allowedStatuses.includes(kyc.INFO_SET)" (click)="submit(kyc.INFO_SET)"
            [disabled]="updateStatus.loading">
      <mat-icon>save</mat-icon>
      {{ 'tff.set_information' | translate }}
    </button>
    <button mat-raised-button *ngIf="allowedStatuses.includes(kyc.PENDING_APPROVAL)"
            (click)="submit(kyc.PENDING_APPROVAL)" [disabled]="updateStatus.loading">
      {{ 'tff.verify_via_onfido' | translate }}
    </button>
    <button mat-raised-button *ngIf="allowedStatuses.includes(kyc.VERIFIED)" (click)="submit(kyc.VERIFIED)"
            [disabled]="updateStatus.loading">
      <mat-icon>check</mat-icon>
      {{ 'tff.mark_as_verified' | translate }}
    </button>
    <button mat-raised-button color="warn" *ngIf="allowedStatuses.includes(kyc.DENIED)" (click)="submit(kyc.DENIED)"
            [disabled]="updateStatus.loading">
      <mat-icon>close</mat-icon>
      {{ 'tff.deny_kyc' | translate }}
    </button>
  </div>
  <h3>{{ 'tff.utility_bill' | translate }}</h3>
  <p *ngIf="profile.kyc.utility_bill_url" class="kyc-buttons">
    <a mat-raised-button target="_blank" rel="noreferrer" [href]="profile.kyc.utility_bill_url">
      {{ 'tff.view' | translate }}
    </a>
    <a mat-raised-button download [href]="profile.kyc.utility_bill_url">{{ 'tff.download' | translate }}</a>
    <button mat-raised-button color="primary" *ngIf="!profile.kyc.utility_bill_verified"
            [disabled]="utilityBillStatus.loading"
            (click)="verifyUtilityBill.emit(profile.username)">
      {{ 'tff.mark_as_verified' | translate }}
    </button>
    <tff-api-request-status [status]="utilityBillStatus"></tff-api-request-status>
  </p>
  <p *ngIf="!profile.kyc.utility_bill_url">{{ 'tff.no_utility_bill_yet_for_user' | translate }}</p>
  <h3>{{ 'tff.checks' | translate }}</h3>
  <mat-nav-list class="kyc-check-list" *ngIf="checksStatus.success">
    <a mat-list-item *ngFor="let check of checks" [href]="check.results_uri" target="_blank" rel="noopener">
      <h4 matLine>{{ check.created_at | date : 'short' }}</h4>
      <p matLine>
        <span>{{ ('tff.kyc_' + check.status) | translate }}</span>&nbsp;
        <span *ngIf="check.result">- {{ ('tff.kyc_result_' + check.result) | translate }}</span></p>
      <button mat-icon-button>
        <mat-icon>open_in_new</mat-icon>
      </button>
    </a>
  </mat-nav-list>
  <tff-api-request-status [status]="checksStatus"></tff-api-request-status>
  <tff-kyc-updates [updates]="profile.kyc.updates"></tff-kyc-updates>
</div>
