<div fxLayout="row" fxLayout.lt-md="column">
  <google-chart [data]="chart"></google-chart>
  <mat-nav-list fxFlex="40" fxFlex.lt-md="100">
    <mat-list-item *ngFor="let entry of tickerEntries; trackBy: trackTickerEntries">
      <a [routerLink]="getTickerEntryUrl(entry)" target="_blank" fxLayout="row" class="ticker-line">
        <tff-flow-run-status [status]="entry.data.status"
                             *ngIf="entry.type === TickerEntryType.FLOW"></tff-flow-run-status>
        <tff-installation-status [status]="entry.data.status"
                                 *ngIf="entry.type == TickerEntryType.INSTALLATION"></tff-installation-status>
        <p class="date">{{ entry.date | time }}</p>
        <p class="message">{{ getTickerText(entry) }}</p>
      </a>
    </mat-list-item>
  </mat-nav-list>
</div>
