.flow-card {
  width: 220px;
  margin: 8px;
}

.ticker-line {
  padding: 4px 0;
}

.ticker-line p {
  margin: 8px;
}

.ticker-line .date {
  font-size: 0.8em;
}

.ticker-line .message {
  font-size: 0.9em;
}
