<ion-header>
  <ion-navbar>
    <ion-buttons left *ngIf="isRoot">
      <button ion-button="bar-button" (click)="close()" class="back-button show-back-button back-button-md">
        <ion-icon name="arrow-back" class="back-button-icon-md"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ todoList.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>{{ 'what_still_needs_to_be_done' | translate }}</h2>
  <todo-item-list [todoList]="todoList" *ngIf="todoList"></todo-item-list>
</ion-content>
