<form #form="ngForm" (ngSubmit)="submit(form)">
  <p>{{ 'enter_invitation_code' | translate }}</p>
  <ion-item>
    <ion-label>{{ 'invitation_code' | translate }}</ion-label>
    <ion-input [(ngModel)]="code" minlength="5" maxlength="5" name="invitation_code"></ion-input>
  </ion-item>
  <button ion-button [disabled]="status.loading || result || !form.form.valid" style="margin: 16px;">
    {{ 'submit' | translate }}
  </button>
</form>
<api-request-status [status]="status" *ngIf="!result"></api-request-status>
<p *ngIf="!status.loading">{{ result }}</p>
