<div class="orders-content">
  <md-select [(ngModel)]="status" (ngModelChange)="onStatusChange()">
    <md-option *ngFor="let status of statuses" [value]="status.value">{{ status.label | translate }}</md-option>
  </md-select>
  <h2>{{ getStatusString() | translate }}</h2>
  <md-nav-list *ngIf="orders">
    <md-list-item *ngFor="let order of orders.results" [routerLink]="order.id">
      <h4 md-line>{{ 'tff.node_order_x' | translate : { orderId: order.id } }}</h4>
      <p md-line>{{ order.order_time | timestamp }} {{ order.name }}</p>
      <p md-line>{{ 'tff.modified_on' | translate}} {{ order.modification_time | timestamp }}</p>
    </md-list-item>
    <button md-button *ngIf="orders.more" (click)="loadMore()">
      {{ 'tff.load_more' | translate }}
    </button>
  </md-nav-list>
</div>
