<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">{{ 'cancel' | translate }}</button>
    </ion-buttons>
    <ion-title>{{ 'confirm_transaction' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="pendingTransaction$ | async as transaction">
    <p>{{ 'to_address_x' | translate : { address: transaction.to_address } }}</p>
    <p>{{ 'amount_x' | translate : { amount: getAmount(transaction) | amount } }}</p>
    <p>{{ 'transaction_fee_x' | translate : { fee : transaction.minerfees | amount } }}</p>
    <p>{{ 'transaction_total_x' | translate : { amount : getTotalAmount(transaction) | amount } }}</p>
  </div>
  <api-request-status [status]="pendingTransactionStatus$ | async"></api-request-status>
  <api-request-status [status]="createTransactionStatus$ | async"></api-request-status>
  <ion-row justify-content-end>
    <button ion-button color="primary" full (click)="submit()"
            [disabled]="disableSubmit$ | async">
      {{ 'confirm_transaction' | translate }}
    </button>
  </ion-row>
</ion-content>
