<ion-content>
  <ion-row justify-content-center ngxClipboard [cbContent]="address$ | async" (cbOnSuccess)="showCopiedToast($event)">
    <p>{{ 'receive_address_info' | translate }}</p>
  </ion-row>
  <ion-row justify-content-center>
    <qr-code [value]="qrContent$ | async" [size]="300" ngxClipboard [cbContent]="address$ | async"
             (cbOnSuccess)="showCopiedToast($event)"></qr-code>
  </ion-row>
  <ion-row justify-content-center>
    <p class="address-line" ngxClipboard [cbContent]="address$ | async" (cbOnSuccess)="showCopiedToast($event)">
      {{ address$ | async }}
    </p>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-label color="primary" floating>{{ 'amount' | translate }}</ion-label>
      <ion-input type="number" [formControl]="amountControl"></ion-input>
    </ion-item>
  </ion-row>
</ion-content>
