<ion-content>
  <ion-row justify-content-center>
    <h2>{{ totalAmount$ | async | amount }}</h2>
  </ion-row>
  <ion-refresher #refresher (ionRefresh)="getTransactions()" (ionPull)="{}">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let transaction of transactions$ | async; trackBy: trackTransactions"
              (click)="showDetails(transaction)">
      <h3>{{ transaction.timestamp | date : 'MMMM d HH:mm' }}</h3>
      <h4 [class]="getColorClass(transaction)">
        {{ (transaction.receiving ? 'received': 'sent') | translate }}
      </h4>
      <button ion-button item-end [color]="getColor(transaction)">{{ transaction.amount | amount }}</button>
    </ion-item>
  </ion-list>
</ion-content>
