<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'transaction_details' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="selectable">
  <h3>{{ timestamp$ | async | date : 'd MMMM yyyy HH:mm:ss' }}</h3>
  <h4>{{ (transaction.receiving ? 'received': 'sent') | translate }} {{ getAmount(transaction.amount) }}</h4>
  <p>{{ 'transaction_id_x' | translate : { id: transaction.id } }}</p>
  <p *ngIf="confirmations$ | async as confirmations">
    {{ 'x_confirmations' | translate : { confirmations: confirmations } }}
  </p>
  <h4 *ngIf="transaction.inputs.length">{{ 'inputs' | translate }}</h4>
  <ion-list class="input-output-list">
    <ion-item *ngFor="let input of transaction.inputs" ngxClipboard [cbContent]="input.unlockhash"
              (cbOnSuccess)="showCopiedToast($event)">
      <h2>{{ input.unlockhash }}</h2>
      <p>{{ input.value | amount }}</p>
    </ion-item>
  </ion-list>
  <h4>{{ 'outputs' | translate }}</h4>
  <ion-list class="input-output-list">
    <ion-item *ngFor="let output of transaction.outputs" ngxClipboard [cbContent]="output.unlockhash"
              (cbOnSuccess)="showCopiedToast($event)">
      <h2>{{ output.unlockhash }}</h2>
      <p>{{ output.value | amount }}</p>
    </ion-item>
  </ion-list>
  <p *ngIf="!transaction.receiving">{{ 'fee_x' | translate : { fee: transaction.minerfee | amount } }}</p>
</ion-content>
